Flask
gunicorn
streamlit
python-dotenv
requests
beautifulsoup4
snscrape
pandas
numpy
pyarrow
pydeck
watchdog
Jinja2
GitPython
lxml
MarkupSafe
soupsieve
protobuf
typing_extensions
urllib3
pytz
six
tenacity
tornado
toml
altair
jsonschema
cachetools
blinker
colorama
click
filelock
idna
charset-normalizer
certifi
flask_sqlalchemy
flask_login
flask_mail==0.9.1





